<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.co.icdswb.hrms">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <supports-screens>
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
    </supports-screens>
    <application
        android:name=".NotificationActivity.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivityPh"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" -->
        <activity
            android:name=".Activity_ODAttendance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.example.android.fileprovider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths"></meta-data> -->
        <!-- </provider> -->
        <activity
            android:name=".ODMapsActivity"
            android:label="@string/title_activity_odmaps"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ODLog_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ODApprove_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".TaEntry_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Travelling_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Attendenceregister_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ActivityService.Profile_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".ActivityService.MyService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".ActivityDatabase.NetworkStateChecker">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
            </intent-filter>
        </receiver>
        <receiver android:name=".ActivityDatabase.NetworkStateCheckerRunTime">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
            </intent-filter>
        </receiver>
        <receiver android:name=".ActivityDatabase.NetworkStateCheckerOdOut">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
            </intent-filter>
        </receiver>
        <receiver
            android:name=".activityGetnumber.SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".DemoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Taentryview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".OutdoorViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ImageViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AlamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <receiver android:name=".Alam.AlarmReceiver" /> <!-- Declare  Alarm Notification Service here -->
        <service android:name=".Alam.AlarmNotificationService" /> <!-- Declare  Alarm Sound Service here -->
        <service android:name=".Alam.AlarmSoundService" />
        <activity
            android:name=".MapViewLatLang"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <receiver android:name=".PhoneStatReceiver"/>
        <intent-filter>
            <action android:name="android.intent.action.PHONE_STATE"/>
            <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
        </intent-filter>
    </application>

</manifest>